* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    color: #1b262c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "M PLUS Rounded 1c", sans-serif;
}

p {
    text-align: justify;
    line-height: 1.6em;
    font-size: 1.8rem;
}

a {
    text-decoration: none;
}

strong {
    color: #687980;
}
