header section {
	grid-column-start: 2;
	text-align: center;
}

header section h1 {
	margin-top: 2rem;
	font-size: 4.4rem;
}

header section p {
	margin: 0;
	font-size: 1.8rem;
}

.main__section {
	margin-top: 6rem;
	grid-column-start: 2;
	text-align: center;
}

.main__section h2 {
	font-size: 2.2rem;
}

.main__section p {
	margin-top: 0;
	font-size: 1.8rem;
}

.main__section img {
	width: 40rem;
	border-radius: 50%;
}

.main__section--description {
	margin-top: 2rem;
	grid-column-start: 2;
	text-align: justify;
}

.main__section--description p {
	font-size: 2rem;
}

.main__section--button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 6rem 0;
}

.main__section--description button {
	border-radius: 2.5rem;
	padding: 1rem;
	border: none;
	background-color: #3282b8;
	transition: transform 0.2s;
}

.main__section--description button:hover {
	transform: scale(1.2);
}

.main__section--description button a {
	color: snow;
	font-size: 3.4rem;
}

.main__section--video-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 6rem 0;
}

.main__section--p-alert {
	background: rgba(249, 129, 58, 0.05);
	padding: 2rem;
	border-radius: 2.5rem;
}

.main__section--description h3 {
	padding: 2rem 0;
	font-size: 2rem;
	text-align: center;
	border-bottom: 1px solid rgba(62, 219, 240, 0.5);
}

.main__section--p-details {
	text-align: center;
}

.main__section--p-details mark {
	border-radius: 2.5rem;
}

footer {
	/* grid-column-start: 2; */
	background: rgba(62, 219, 240, 0.1);
}

footer p {
	grid-column-start: 2;
	text-align: center;
	font-size: 2rem;
	margin: 2rem 0;
}
